{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YcnHub | 로그인</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

    </head>
    <body>

        <form class="login_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include "base/error.html" %}

            <h2 class="login_title">YcnHub / <span>문의</span> </h2>
            <div class="login_input_box">
                <div class="login_imgBox">
                    <img src="{% static 'assets/user.png' %}" alt="ID"/>
                </div>
                <input class="login_input" name="username" type="text" value="010-5065-9224" readonly=true/>
            </div>
            <div class="login_input_box">
                <div class="login_imgBox">
                    <img src="{% static 'assets/lock.svg' %}" alt="pwd"/>
                </div class="login_imgBox">
                <input class="login_input" name="password" value="yoho1019@naver.com" type="email" readonly=true/>
            </div>
            <div class=login_helpbox>
                <span id="forget_id"><a href="/login">기억나셨나요?</a></span>
                <span id="move_register"><a href="/register">회원가입</a></span>
            </div>
        </form>
    </body>
</html>